HELP.md
target/
!**/src/main/**
!**/src/test/**

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

######################
# STS
######################
.apt_generated
.settings
.springBeans
.sts4-cache

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# NetBeans
######################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

######################
# VS Code
######################
.vscode/

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*

# Thumbnails
._*

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath